body {
    background-color: #73a7bd;
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    text-align: center;
    font-size: 1cm;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    text-align: center;
    width: 50%;
    padding: 9px;
    margin-top: 6px;
}

input[type="submit"] {
    width: 50%;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

